<HTML>
<HEAD>
<TITLE>Running log</TITLE>
<SCRIPT SRC="jquery-1.11.3.js"></SCRIPT>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</HEAD>
<BODY>
<DIV ID="REPLACEME"></DIV>
<SCRIPT SRC="standard.js"></SCRIPT>
<div style="overflow:hidden">
<p>
###WEEKLY###
<p>Red columns are weeks with a race in.</p>
<h3>Races:</h3>
<p>September 2012.  Oslo Half Marathon.  1:45:51<br>
March 2013.  Hastings Half Marathon.  1:54:00<br>
April 2013.  Holmestrand Marathon.  4:18:39<br>
April 2013.  Sentrumslopet 10km.  0:46:31<br>
May 2013.  Fornebulopet 5km.  0:22:57<br>
September 2013.  Oslo Half Marathon.  1:59:16<br>
April 2014.  Holmestrand 10km.  0:51:57<br>
April 2014.  Sentrumslopet 10km.  0:51:34<br>
September 2014.  Oslo Half Marathon.  1:58:06<br>
</p>
<p>See more info on races here: <a HREF=races.html>race info</A>.
</DIV>
</BODY>
</HTML>