<HTML>
<HEAD>
<TITLE>Training vs Fitness</TITLE>
<SCRIPT SRC="jquery-1.11.3.js"></SCRIPT>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</HEAD>
<BODY>
<DIV ID="REPLACEME"></DIV>
<SCRIPT SRC="standard.js"></SCRIPT>
<div style="overflow:hidden">
###TRAINING###
<H4>Training vs fitness</H4>
<p>"Fitness" is an estimate of the speed (in kph) at which I could complete a half marathon on a flat course.
See <A HREF="fitness.html">here</A> for details.
<p>Training is how many kilometres I ran in the previous 12 weeks.  My 12 week training load correlates well
with my race performance.
</DIV>
</BODY>
</HTML>