<HTML>
<HEAD>
<TITLE>Home treadmill</TITLE>
<SCRIPT SRC="jquery-1.11.3.js"></SCRIPT>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</HEAD>
<BODY>
<DIV ID="REPLACEME"></DIV>
<SCRIPT SRC="standard.js"></SCRIPT>
<div style="overflow:hidden">
<IMG SRC="treadmill.jpg"></IMG>
<p>
This is my Sole F85 treadmill, which I have set up in a basement room.  I bought it in November 2014 and it was expensive!
I reckon it will eventually work out cheaper than a gym membership, and I'll use it more because it's so convenient.
So to keep me honest, here's the latest usage data:</p>
###TREADMILL###
<p>And for comparison, this is how I did when I was a member of a gym:</p>
###GYM###
</DIV>
</BODY>
</HTML>